<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE configuration PUBLIC "-//mybatis.org//DTD Config 3.0//EN" "http://mybatis.org/dtd/mybatis-3-config.dtd">	

<configuration>

	<settings>
		<setting name="mapUnderscoreToCamelCase" value="true"/>
	</settings>
	
	<typeAliases>
		<typeAlias type="com.application.mesms.member.dto.MemberDTO"	alias="MemberDTO" />
		<typeAlias type="com.application.mesms.project.dto.ProjectDTO"	alias="ProjectDTO" />
		<typeAlias type="com.application.mesms.project.dto.ProjectMemberDTO"	alias="ProjectMemberDTO" />
		<typeAlias type="com.application.mesms.project.dto.ProjectSprintDTO"	alias="ProjectSprintDTO" />
		<typeAlias type="com.application.mesms.project.dto.ProjectWorkDTO"	alias="ProjectWorkDTO" />
		<typeAlias type="com.application.mesms.team.dto.TeamDTO"	alias="TeamDTO" />
		<typeAlias type="com.application.mesms.team.dto.TeamMemberDTO"	alias="TeamMemberDTO" />
		<typeAlias type="com.application.mesms.team.dto.TeamLinkDTO"	alias="TeamLinkDTO" />
		<typeAlias type="com.application.mesms.team.dto.TeamBoardDTO"	alias="TeamBoardDTO" />
		<typeAlias type="com.application.mesms.schedule.dto.ScheduleDTO"	alias="ScheduleDTO" />
	</typeAliases>

</configuration>

